doctype html
html(lang="ja")
    head
      include _temp_p_head
      title New Register
      link(rel="stylesheet", href="css/Style.css")
    body
      .main-bg
        .city
        .new-regist
          h1 新規登録
          .register-form
            .register-field
              h2 店名
              input(type="text" placeholder="例)ECCコンピュータ専門学校")
            .register-field
              h2 名前(カタカナ)
              input(type="text" placeholder="例)イーシーシーコンピュータセンモンガッコウ")
            .register-field
              h2 営業時間
              .register-num.register-time
                select(name="hour" id="hour-select" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                  - for (let i = 0; i <= 23; i++)
                    option(value=i class="selectedHour" === i ? 'selected' : '') #{String(i).padStart(2, '0')}
                p :
                select(name="minute" id="minute-select" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                  - for (let i = 0; i <= 59; i+= 10)
                    option(value=i class="selectedMinute" === i ? 'selected' : '') #{String(i).padStart(2, '0')}
                p ~
                select(name="hour" id="hour-select2" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                  - for (let i = 0; i <= 23; i++)
                    option(value=i class=selectedHour2 === i ? 'selected' : '') #{String(i).padStart(2, '0')}
                p :
                select(name="minute" id="minute-select2" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                  - for (let i = 0; i <= 59; i+= 10)
                    option(value=i class="selectedMinute2" === i ? "selected" : '') #{String(i).padStart(2, '0')}
            .register-field
              h2 定休日
              .register-holiday
                .days
                  select#day-select(name="japanese-day" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                    option(value="0" class="gray") 定休日を選択する
                    option(value="月") 月
                    option(value="火") 火
                    option(value="水") 水
                    option(value="木") 木
                    option(value="金") 金
                    option(value="土") 土
                    option(value="日") 日
                  p 曜日
                textarea(id="memo" type="text" placeholder="曜日以外での定休日を採用されている方は\nこちらにご記入ください。")
            .register-field
              h2 食ジャンル
              .register-category
                ul
                  li 
                    button 海鮮系
                  li 
                    button 中華系
                  li 
                    button 和食系
                  li 
                    button 鍋
                  li 
                    button 粉物
                  li 
                    button 韓国料理
                  li 
                    button 肉
                  li 
                    button 焼き鳥
                  li 
                    button 揚げ物
            .register-field
              h2 お店の雰囲気
              .register-category
                ul
                  li 
                    button 静かな空間
                  li 
                    button 賑やかな空間
                  li 
                    button おしゃれの空間
                  li 
                    button 親しみやすい空間
                  li 
                    button レトロな空間
                  li 
                    button 活気のある空間
            .register-field
              h2 座席
              .register-seat-wrapper
                .register-seat
                  .seat-content
                    h2 テーブル
                    .seat-inner
                      input(type="number" id="seat-num" min="0")
                      p 卓
                  .seat-content
                    h2 カウンター
                    .seat-inner
                      input(type="number" id="seat-num" min="0")
                      p 席
                  .seat-content
                    h2 お座敷
                    .seat-inner
                      input(type="number" id="seat-num" min="0")
                      p 部屋
                textarea(id="memo" type="text" placeholder="お席のことで他になにかございましたら\nこちらにご記入ください。")
            .register-field
              h2 喫煙の有無
              .register-category
                ul
                  li
                    button 禁煙
                  li
                    button 喫煙可能
            .register-field
              h2 お店の写真
              p 
                |店の外装・内装・メニュー表・料理の4枚の写真をアップロード
                |してください
                .upload-container
                  .container#imgBox1
                    input(type="file" accept="image/*" name="image" id="file1" Style="display:none" onchange="loadFile(event)")
                    label(for="file1").fa-solid.fa-plus
                  .container#imgBox2
                    input(type="file" accept="image/*" name="image" id="file2" Style="display:none" onchange="loadFile(event)")
                    label(for="file2").fa-solid.fa-plus
                  .container#imgBox3
                    input(type="file" accept="image/*" name="image" id="file3" Style="display:none" onchange="loadFile(event)")
                    label(for="file3").fa-solid.fa-plus
                  .container#imgBox4
                    input(type="file" accept="image/*" name="image" id="file4" Style="display:none" onchange="loadFile(event)")
                    label(for="file4").fa-solid.fa-plus
            .register-field
              h2 住所
              p 大阪府 大阪市 北区
                .register-location
                  .prefecture
                    input(type="text" value="梅田" disabled)
                  .street
                    input(type="number" id="seat-num" min="0")
                    p 丁目
                  .block
                    input(type="text" id="seat-num" placeholder="２番地３号")
                textarea(id="memo" type="text" placeholder="駅からの距離をご記入ください。\n例)大阪梅田駅から徒歩5分")
            .register-field
              h2 1人あたりの平均価格
              .register-num.register-time.regist-price
                select(name="hour" id="hour-select" onfocus='this.size=6;' onblur='this.size=6;' onfocusout='this.size=null;' onchange='this.size=6; this.blur();')
                  - for (let i = 1000; i <= 10000; i+= 1000)
                    option(value=i class="selectedHour" === i ? 'selected' : '') #{String(i).padStart(2, '0')}
                p 円
            .register-field
              h2 お支払い方法
              .register-payment
                .payment
                  input(type="checkbox" id="payment1") 
                  label(for="payment1") 現金
                .payment
                  input(type="checkbox" id="payment2") 
                  label(for="payment2") クレジットカード
                .payment
                  input(type="checkbox" id="payment3") 
                  label(for="payment3") QRコード
                .payment
                  input(type="checkbox" id="payment4") 
                  label(for="payment4") 交通系・電子マネー
            .register-field
              h2 電話番号
              input(type="number" placeholder="例)06-6779-8484")
            .register-field
              h2 メールアドレス
              input(type="email" placeholder="例)apurimei@abc.ac.jp")
            .register-field
              h2 パスワード
              .password-wrapper
                input(type="password" name="password" placeholder="パスワード")#text_password
                button#toggle_password.fa-solid.fa-eye-slash
            .register-field
              h2 パスワード（確認）
              .password-wrapper
                input(type="password" name="password" placeholder="パスワード")#text_password
                button#toggle_password.fa-solid.fa-eye-slash
            .register-btn
              a(href="subscription.html") 確認
      include _temp_p_foot
      script(src="js/change.js") 
      script(src="js/category.js")
      script(src="js/upload.js") 
      script(src="js/password.js") 